.time-container{
  margin: auto;
  width: 800px;
}

.time-container > article{
  text-align: center;
  color: var(--color-white);
  display: inline-block;
  position: relative;
  margin-right: 24px;
  z-index: 20;
}

.time-container > article:last-of-type{
  margin-right: 0;
}

.time-container article > .data-time{
  background: var(--color-dark-gray);
  border-radius: 16px;
  padding: 32px 16px;
}

.time-container article > .data-time > h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 128px;
}

.time-container article > p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.time-container article > .data-time > h2,
.time-container article > p{
  margin: 0;
}

.time-container article > p{
  margin-top: 24px;
}